{% extends "base.html" %}

{% block content %}
<div class="px-10 py-4 font-bold text-4xl rounded-lg">
    {{room.name}}
</div>

<div class="message-container mx-10 overflow-auto sm:h-[300px] md:h-[400px] xl:h-[450px] 2xl:h-[600px]" id="message-container">
    <div id="chat-messages" class="mb-20">
        {% for message in messages %}
        <div class="message shadow-lg rounded-lg w-1/2 p-3 m-4 bg-blue-200">
            <div class="text-gray-700 text-sm font-bold">{{message.user.username}}</div>
            {{message.text}}
            <div class="text-gray-700 text-xs text-right">
                <div>{{message.date|date:"H:i"}}</div>
                <div>{{message.date|date:"d M, y"}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="form-container fixed inset-x-0 bottom-0 bg-blue-700 p-4">
    <form method="post">
        {% csrf_token %}
        <input class="rounded-md p-1" type="text" name="message" id="message-input" placeholder="Enter message">
        <button class="text-white ml-5" type="submit" id="send-button">Send</button>
    </form>
</div>

{% endblock content %}

{% block scripts %}
<script>
    const chatRoomName = "{{room.slug}}"
    const username = "{{request.user.username}}"
    
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + chatRoomName
        + '/'
    )

    chatSocket.onmessage = function(e){
        const data = JSON.parse(e.data)
        if (data.message){
            let html = `<div class="message shadow-lg rounded-lg w-1/2 p-3 m-4 bg-blue-200">
                            <div class="text-gray-700 text-sm font-bold">${data.username}</div>
                            ${data.message}
                            <div class="text-gray-700 text-xs text-right">
                                <div>Just now</div>
                            </div>
                        </div>`
            document.getElementById('chat-messages').innerHTML += html
            scrollToBottom()
        } else {
            console.error("Message is empty");
        }
    }
    chatSocket.onclose = function(e){
        console.log('Socket closed');
    }

    document.getElementById('send-button').onclick = function(e){
        e.preventDefault()
        const messageInput = document.getElementById('message-input')
        const message = messageInput.value
        if (message != ""){
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': username,
                'room_slug': chatRoomName
            }))
            messageInput.value = ""
        }
    }

    function scrollToBottom() {
        const mcontainer = document.getElementById('message-container')
        mcontainer.scrollTop = mcontainer.scrollHeight
    }
</script>
{% endblock scripts %}